<footer class="text-center">

   
    <a asp-area="" asp-controller="Home" asp-action="Index">AGLET</a>
    

    <p> For all your shoelace needs</p>

    <hr />
    <p class="text-muted">
        &copy; 2019 - AgletCoreMVC | Hayden - Conor - Joe
    </p>

    <a asp-controller="Contacts" asp-action="Index">Admin Portal</a>

</footer>
