<footer class="text-center">

  
    <hr />
    
    <p class="text-muted">
        &copy; 2019 - AgletCoreMVC | Hayden - Conor - Joe
    </p>

    <h5 class="text-muted">
        <a asp-area="" asp-controller="Home" asp-action="Index">AGLET</a> | <a asp-controller="Contacts" asp-action="Index">Admin Portal</a>
    </h5>
   

</footer>
