@{
    ViewData["Title"] = "About Us";
}
<!--Hayden-->

    <br />
<div class="jumbotron">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-5" style="border: 5px solid lightgrey; margin: 20px">
        <div>
            <div class="col-md-4" style="padding: 5px">
                <img style="height: 150px" width="150" src="~/images/Hayden.jpg" />
            </div>
            <div class="col-md-8">
                <h4>
                    Hayden Fowler
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Integer vitae justo eget magna fermentum. Risus in hendrerit gravida rutrum.
                    Risus at ultrices mi tempus. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.                   
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5" style="border: 5px solid lightgrey; margin: 20px">
        <div>
            <div class="col-md-4" style="padding: 5px">
                <img style="height: 150px" width="150" src="~/images/Conor.jpg" />
            </div>
            <div class="col-md-8">
                <h4>
                    Conor Bailey
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Integer vitae justo eget magna fermentum. Risus in hendrerit gravida rutrum.
                    Risus at ultrices mi tempus. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-5" style="border: 5px solid lightgrey; margin: 20px">
        <div>
            <div class="col-md-4" style="padding: 5px">
                <img style="height: 150px" width="150" src="~/images/Joe.png" />
            </div>
            <div class="col-md-8">
                <h4>
                    Joe Champion
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Integer vitae justo eget magna fermentum. Risus in hendrerit gravida rutrum.
                    Risus at ultrices mi tempus. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.
                </p>
            </div>
        </div>
    </div>
</div>
<br />




