@model IEnumerable<AgletCoreMVC.Models.Lace>

@{
    ViewData["Title"] = "Laces";
}
<!--Hayden-->
<br />
<div class="jumbotron">

    <h1 style="text-align: center">Laces</h1>
</div>

@foreach (var item in Model)
{
    
        <div class="col-md-5" style="border: 5px solid lightgrey; margin: 20px">
            <div>
                <div class="col-md-6" style="padding: 5px">
                    <img style="height: 200px" width="200" src="~/images/@item.ImageURL" />
                </div>
                <div class="col-md-6">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </h3>
                    <h4>
                        @Html.DisplayFor(modelItem => item.Description)
                        £@Html.DisplayFor(modelItem => item.Price)
                    </h4>                 
                    <h6>
                        <a class=" btn btn-success" asp-action="LaceDetails" asp-route-id="@item.LaceID">View</a>
                    </h6>
                </div>
            </div>
        </div>
  
}
<div class="row">

</div>
